@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;

  font-family: "PT Sans", "Helvetica", sans-serif;
  color: #000000;

  background-color: #F2F2F2;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.page-container {
  display: flex;
  flex-direction: column;

  width: 1200px;
  margin: 0 auto;

  background-color: #FFFFFF;
}

/* Generic button styles */
.button {
  padding: 8px 50px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #000000;
  border: none;
  border-radius: 4px;

  outline: none;
}

.button.disabled {
  color: #FFFFFF;

  background-color: #E5E5E5;
}

/* Action button */
.action-button {
  background-color: #756157;
}

.action-button:hover,
.action-button:focus-visible {
  background-color: #615048;
}

.action-button:active {
  color: #FFFFFF4D;
  background-color: #756157;
}

/* Primary button */
.primary-button {
  background-color: #82B3D3;
}

.primary-button:hover,
.primary-button:focus-visible {
  background-color: #68A2CA;
}

.primary-button:active {
  color: #FFFFFF4D;
  background-color: #82B3D3;
}

/* Success button */
.success-button {
  background-color: #7DB54F;
}

.success-button:hover,
.success-button:focus-visible {
  background-color: #6C9E42;
}

.success-button:active {
  color: #FFFFFF4D;

  background-color: #7DB54F;
}

/* Transparent button */
.text-button {
  background-color: transparent;
  border: 3px solid transparent;
}

.text-button:hover {
  background-color: transparent;
  opacity: 60%;
}

.text-button:focus-visible {
  border: 3px solid #83B3D3;
}

.text-button:active {
  color: #FFFFFF4D;

  background-color: transparent;
}

.text-button:disabled {
  opacity: 10%;
}

/* Form */
.select-field {
  padding: 14px 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
  outline: none;
}

.select-field:focus,
.select-field:focus-visible,
.select-field:hover {
  border-color: #68A2CA;
}

.select-field:disabled {
  color: rgba(0, 0, 0, 0.3);

  border-color: rgba(0, 0, 0, 0.3);
}

.input-field {
  padding: 12px 20px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  vertical-align: middle;
  color: #000000;

  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  outline: none;
}

.input-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input-field:hover {
  color: rgba(0, 0, 0, 0.6);

  background-color: #E6E6E6;
}

.input-field:focus-visible {
  outline: 3px solid #83B3D3;
}

.email-input-field {
  width: 452px;
  padding: 14px 20px;

  font-weight: 400;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.email-submit-button {
  width: 232px;

  font-size: 20px;
  line-height: 36px;
  vertical-align: bottom;

  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.email-subscription-form {
  font-size: 0;
}

.search-criteria-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #FFFFFF;
}

.search-criteria-checkbox {
  width: 20px;
  height: 20px;
}

.search-criteria-radio {
  width: 20px;
  height: 20px;
}

/* Header */

.navigation {
  display: flex;
  align-items: center;
  padding: 0 70px;
}

.logo-link {
  margin-right: 30px;
}

.navigation-menu {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  padding: 0;

  list-style-type: none;
}

.navigation-menu-item {
  padding: 20px 16px;
}

.navigation-menu-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.navigation-actions {
  display: flex;
  padding: 0;

  list-style-type: none;
}

.navigation-action.icon-search {
  background: url("../images/search-icon.svg") no-repeat;
  background-size: 20px;
}

.navigation-action.icon-favourites {
  background: url("../images/favourites-icon.svg") no-repeat;
  background-size: 20px;
}

.favourites-count {
  padding: 5px;

  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #7DB54F;
  border-radius: 50%;
}

/* Index page */

.index-main-header {
  padding-bottom: 69px;

  text-align: center;
}

.welcome-image-section {
  height: 485px;
  margin-bottom: 69px;
  padding-top: 51px;

  background: #7290b8 url("../images/index-background.jpg") no-repeat center;
  background-size: cover;
}

.index-main {
  flex-grow: 1;
}

.index-main-title {
  margin-top: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.index-main-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.feature-title {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.feature-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.features-block-top,
.features-block-bottom {
  display: flex;
}

.feature-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  width: 400px;
  height: 385px;

  background-color: #82B3D3;
}

.feature-content-divider {
  width: 60px;
  height: 2px;

  margin-bottom: 30px;

  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}

.feature-content-divider-inverted {
  background-color: rgba(0, 0, 0, 0.3);
}

.features-block-top .feature-title,
.features-block-top p,
.features-block-bottom .feature-title,
.features-block-bottom p {
  color: #FFFFFF;
}

.features-list {
  display: flex;
  padding: 0;

  list-style: none;
}

.features-item {
  text-align: center;

  background-color: rgba(131, 179, 211, 0.12);
}

.features-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-section {
  padding-top: 64px;

  text-align: center;
}

.advantages-section-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-service-description {
  margin-bottom: 64px;

  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.advantages-list {
  display: flex;
  padding: 0;

  list-style: none;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 385px;

  background-color: #83B3D31F;
}

.advantages-item:nth-child(2n) {
  background-color: #FFFFFF;
}

.advantage-title {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.advantages-icon {
  display: inline-block;
  width: 75px;
  height: 72px;
  margin-bottom: 30px;

  background-repeat: no-repeat;
  background-position: center center;
}

.advantages-house-icon {
  background-image: url("../images/advantage-house-icon.svg");
}

.advantages-food-icon {
  background-image: url("../images/advantage-food-icon.svg");
}

.advantages-gifts-icon {
  background-image: url("../images/advantage-gifts-icon.svg");
}

.catalog-search {
  padding: 96px 0;

  text-align: center;
}

.catalog-search-section-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.catalog-search-section-description {
  margin-bottom: 54px;

  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

.email-subscription {
  padding-top: 96px;
  padding-bottom: 104px;

  text-align: center;

  background: #7290b8 url("../images/subcription-background.jpg") no-repeat center;
  background-size: cover;
}

.email-subscription-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

.email-subscription-light-variant {
  background-image: unset;
  background-color: #FFFFFF;
}

.email-subscription-light-variant .email-subscription-title {
  color: #000000;
}

.email-subscription-light-variant .email-subscription-description {
  color: #000000;
}

.email-subscription-light-variant .email-input-field {
  background-color: #F2F2F2;
}

.email-subscription-description {
  margin-bottom: 54px;

  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #FFFFFF;
}

/* Catalog page */
.catalog-main-header {
  padding: 35px 70px 70px 70px;

  background: #7290b8 url("../images/catalog-background.jpg") no-repeat center;
  background-size: cover;
}

.catalog-main {
  flex-grow: 1;
}

.catalog-main-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  color: #FFFFFF;
}

.catalog-breadcrumbs {
  display: flex;
  padding: 0;
  margin-bottom: 40px;

  list-style-type: none;
}

.catalog-breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-breadcrumbs-home {
  background: url("../images/home-icon.svg") no-repeat;
  background-size: 20px;
}

.search-results-sorting {
  margin-right: 70px;
  width: 292px;
}

.search-results-view-selector {
  display: flex;

  list-style: none;
}

.view-selector-item {
  display: inline-block;
  width: 48px;
  height: 48px;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
  outline: none;
}

.view-selector-item:hover, .view-selector-item:active {
  border-color: #000000;
}

.view-selector-item:focus-visible {
  border-color: #68A2CA;
}

.view-selector-item.tile-view {
  background: url("../images/view-tile-icon.svg") no-repeat center center;
}

.view-selector-item.card-view {
  background: url("../images/view-cards-icon.svg") no-repeat center center;
}

.view-selector-item.list-view {
  background: url("../images/view-list-icon.svg") no-repeat center center;
}

.catalog-search-form {
  display: flex;
}

.catalog-search-form-criteria-fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: none;
}

.catalog-price-fieldset {
  display: flex;
  column-gap: 2px;
  border: 0;
}

.catalog-search-form-criteria-fieldset legend {
  margin-bottom: 32px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.catalog-search-form-price-range {
  width: calc(143px - 20px); /* 20px paddings*/
}

.catalog-search-form-min-price {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.catalog-search-form-max-price {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Search results */

.search-results {
  padding: 50px 70px 0;

  background-color: #FFFFFF;
}

.search-results-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.search-results-toolbar h2 {
  margin-right: auto;
}

.search-results h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.search-results-list {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  margin-bottom: 40px;
  padding: 0;

  list-style: none;
}

.search-results-item {
  width: 340px;
  padding: 20px;

  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.search-results-item img {
  margin-bottom: 16px;
}

.search-results-item h3 {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.housing-price {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.search-results-item-actions {
  margin-bottom: 16px;
}

.search-results-item-details {
  padding-left: 26px;
  padding-right: 26px;
}

.search-results-item-favourite {
  padding-left: 20px;
  padding-right: 20px;
}

.rating-stars {
  display: inline-block;
  height: 17px;

  background: url("../images/star-icon.svg") repeat-x;
  background-position-y: center;
}

.two-stars {
  width: calc(18px * 2);
}

.three-stars {
  width: calc(18px * 3);
}

.four-stars {
  width: calc(18px * 4);
}

.rating-value {
  display: inline-block;
  width: 140px;
  padding: 9px 22px 8px 23px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;

  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  margin: 0;
  column-gap: 8px;
  padding: 40px 0 60px;

  list-style: none;
  border-top: 1px solid #E6E6E6;
}

.page-number {
  display: inline-block;
  height: 60px;
  width: 60px;

  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;

  background-color: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  outline: none;
}

.page-number:hover,
.page-number:focus-visible {
  background-color: #68A2CA;
}

.page-number:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #82B3D3;
  border: 1px solid #82B3D3;
}

.current-page,
.current-page:hover {
  color: #000000;

  background-color: #F2F2F2;
  border: unset;
}

.ellipsis,
.ellipsis:hover {
  font-size: 22px;
  font-weight: 400;
  color: #000000;

  background-color: unset;
  border: unset;
}

/* Footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px 70px;
}

.social-network-list {
  display: flex;
  padding: 0;

  list-style: none;
}

.social-network {
  display: inline-block;
  width: 47px;
  height: 40px;

  vertical-align: middle;

  background-color: #83B3D3;
  mask-repeat: no-repeat;
  mask-position: center center;
}

.social-network:hover,
.social-network:focus-visible {
  background-color: #68A2CA;
}

.social-network:active {
  background-color: rgba(104, 162, 202, 0.3);
}

.social-network-vkontakte {
  mask-image: url("../images/social-vk-icon.svg");
}

.social-network-telegram {
  mask-image: url("../images/social-telegram-icon.svg");
}

.social-network-youtube {
  mask-image: url("../images/social-youtube-icon.svg");
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  outline: none;
}

.phone-number:hover,
.phone-number:focus-visible {
  color: #756157;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.partner {
  outline: none;
}

.partner-htmlacademy-logo {
  outline: none;
}

.partner-htmlacademy-logo path {
  fill: #000000;
}

.partner-htmlacademy-logo:hover path,
.partner-htmlacademy-logo:focus-visible path {
  fill: #756157;
}

.partner-htmlacademy-logo:active path {
  fill: rgba(117, 97, 87, 0.3);
}
